body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #111;
    color: white;
    padding: 50px;
}

.container {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

button {
    margin-top: 10px;
    padding: 10px;
    background: #f1c40f;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #f39c12;
}
